@model DAL.Entity.Opiekun
@{
    ViewData["Title"] = "Details";
}

<h1>Szczegóły</h1>
<div>
    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Id)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Imie)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Nazwisko)
                </th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>
                    @Html.DisplayFor(model => model.Id)
                </td>
                <td>
                    @Html.DisplayFor(model => model.Imie)
                </td>
                <td>
                    @Html.DisplayFor(model => model.Nazwisko)
                </td>
            </tr>
        </tbody>
    </table>
    @if (Model.Parkingi.Count() > 0)
    {
        <h2>Parkingi</h2>
        <table class="table">
            <thead>
                <tr>
                    <th>Id</th>

                    <th>Nazwa</th>

                    <th>Adres</th>
                    
                    <th>Miasto</th>
                </tr>
            </thead>
            @foreach (var item in Model.Parkingi)
            {
                <tbody>
                    <tr>
                        <td>@item.Id</td>
                        <td>@item.Nazwa</td>
                        <td>@item.Adres</td>
                        <td>@item.Miasto.Nazwa</td>
                    </tr>
                </tbody>

            }
        </table>
    }
    else
    {
        <p>Brak parkingów</p>
    }
</div>
<div>
    <a asp-action="Index">Wróć</a>
</div>