@model IEnumerable<DAL.Entity.MiejsceInwalidzkie>

@if (Model.Count() > 0)
{
    <a asp-action="Create">Dodaj miejsce inwalidzkie</a>
    <hr />
    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.RozmiarMiejsca)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.IdMiejsca)
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.RozmiarMiejsca)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.IdMiejsca)
                    </td>
                    <td>
                        <a asp-action="Delete" asp-route-id="@item.Id">Usuń</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
}
else
{
    <p>Brak miejsc inwalidzkich!</p>
}
<hr />

